<% content_for :page_title, "List inbound and outbound SMS" %>

<% content_for :head do %>
  <%= javascript_tag do %>
    $(document).idleTimer(60000);
    $(document).on("page:before-change", function() {
      $(document).idleTimer("destroy");
    });
  <% end %>
<% end %>

<table class="messages table table-striped">
  <tr>
    <th>Message</th>
    <th>From<th>
    <th>To</th>
    <th></th>
  </tr>
  
  <% for message in @messages %>
    <%= render message %>
  <% end %>
</table>